<div class="hero">
    <div class="from-box">
       <div class="button-box">
          <div class="btn"></div>
          
          <button type="button" class="toggle-btn" onclick="login()">Log in</button>
          <button type="button" class="toggle-btn" onclick="register()">Register</button> 
          
       </div>
       <div class="social-icons">
          <img src="../../assets/images/gp.png">
          <img src="../../assets/images/tw.png">
          <img src="../../assets/images/fb.png">
       </div>
       <form id="login" class="input-group">
          <input type="text" class="input-field" placeholder="User-Id" >
          <input type="text" class="input-field" placeholder="Enter Password" >
          <input type="checkbox" class="check-box"><span>Remember password</span>
          <button type="submit" class="submit-btn">Log in</button>
       </form>
       <form id="register" class="input-group">
          <input type="text" class="input-field" placeholder="User Id" required>
          <input type="email" class="input-field" placeholder="Email Id" required>
          <input type="text" class="input-field" placeholder="Enter Password" required>
          <input type="checkbox" class="check-box"><span>I agree to the terms & conditions</span>
          <button type="submit" class="submit-btn">Register</button>
       </form>
    </div> 
 </div>
    <!-- <script src="../../assets/js/custom.js"></script> -->