<div>
    <div>
        <h1>Image to Text Converter</h1>
            <p class="p1">We present an online OCR(Optical Character Recongnition) service to extract text from image. Upload
            photo to our image to text converter, click on submit and get your text file instantly.</p>
    </div>
</div>
<section class="pre_main">
<div class="main">
    <div class="main_title">Drag and Drop or Seletct image</div>        
    <label for="file" class="main_file">
        <span class="p2">select file</span>
    </label>
    <input type="file" name="file" id="file" hidden accept=".jpg,.jprg,.gif,.png,.bmp,.jpr,.jif,.jfif,.jfi,.webp,.tiff,.tif" multiple>    
    <div class="main_text">Any file size</div>
</div>            
</section>
    <div class="image">
        <img src="../assets/images/OCR-workflow-blue-MK-edit-2.png" width="50%">
    </div>
    <div class="second_para">
        <p>Get text from Image, WhatsApp status, Instagram stories, Twitter feed, Pinterest, or even from the screenshots (PDF, Word, etc.) of your class notes. 
        If you are unable to recognize the handwritten text of your friend, this tool will do it for you.
        Most importantly, you can convert image to text online without having a thought about the format of the picture i.e., .JPG, .JPEG, .JPE, .JIF, .PNG, .TIFF, etc</p>
    </div>