
<div class="navi_bar">
   <div class="top_dock_left"><a routerLink="/scantextify"
                                 routerLinkActive="activebutton"
                                 ariaCurrentWhenActive="page">
                                 <img src="../assets/images/2023-09-05_13-26.png" alt="logo: ScanTextify">
                              </a>
   </div>
   <div class="top_dock_right">
       <ul>
           <li>About Us</li>
           <li>Product</li>
           <li>Support</li>
           <li><a class="anchor"
                  routerLink="/login"
                  routerLinkActive="activebutton"
                  ariaCurrentWhenActive="page">Login
                </a>
            </li>
       </ul>
   </div>
</div>
      <router-outlet></router-outlet>