/* You can add global styles to this file, and also import other style files */
$padding: 20px;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

.navi_bar {
    display: flex;
    justify-content: space-between;
    font-size: x-large;
    background: linear-gradient(to right, #0b415a, #89cff0);
    //border-radius: 30px;
    .top_dock_right {
        //margin: 30px;
        background-color: #89cff0;
        background-clip: text;
        color: transparent;
        font-weight: 900;
        font-size: 50px;
        //font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    }

    .top_dock_left {
        //font-family: 'Poppins';
        margin: 30px;
        background-color: #0b415a;
        background-clip: text;
        color: transparent;
        align-self: center;

        ul {
            list-style: none;
            display: flex;
            gap: 5rem;
            align-items: center;
            .dark_mode{
                display: flex;
            }
        }
    }
}